.mainContainer {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  gap: 20px;
}

.cartContainer {
  width: 25%;
  border-left: 1px solid grey;
  padding-left: 20px;
  font-size: 20px;
}

.plantBox {
  display: flex;
  flex-wrap: wrap;
  gap: 22px;
  width: 900px;
}

.onePlant {
  background: white;
  border: 2px solid lightgray;
  padding: 20px;
  width: 200px;
  text-align: center;
}

.plantEmoji {
  display: block;
  font-size: 70px;
  margin-bottom: 12px;
}

.addButton {
  padding: 2rem;
  margin-top: 10px;
  border: 1px solid black;
  border-radius: 6px;
  cursor: pointer;
}

.addButton:hover {
  cursor: pointer;
}
